:root {
  --section-color: #2f303a;
  --element-color: #212121;
  --text-color: #757575;
  --hover-color: #2196f3;
}

body {
  background-color: #ffff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}
/* Stilizare Logo */
.logo {
  text-decoration: none;
  font-style: "Releway";
  font-weight: 700;
  font-size: 26px;
}
.logo-first {
  color: var(--hover-color);
}
.logo-second {
  color: #000;
}

/* Stilizarea link-urilor de navigare */
.nav-list {
  list-style-type: none;
}
.global-header .main-navigation a:link {
  color: var(--element-color);
  text-decoration: none;
  font-weight: 500;
}
.global-header .main-navigation a:hover {
  color: var(--hover-color);
}
.contacts a:link {
  color: var(--text-color);
  text-decoration: none;
  font-weight: 500;
}
.contacts a:hover {
  color: var(--hover-color);
}

/* Stilizare First Section */
.first-section-class {
  background-color: var(--section-color);
  color: #ffff;
  font-weight: 900;
}
.request-service-button {
  background-color: var(--hover-color);
  color: #ffff;
  font-weight: 700;
}

/* Stilizare Description Section */
.description-list {
  list-style-type: none;
}
.description-title {
  font-weight: 700;
  color: var(--element-color);
}
.description-text {
  color: var(--text-color);
}

/* Stilizare What We Do Section */
.what-we-do-list {
  list-style-type: none;
}

/* Stilizare Our Team Section  */
.team-list {
  list-style-type: none;
}
.team-section {
  background-color: #f5f4fa;
}
.team-member {
  color: var(--element-color);
  font-weight: 500;
  font-size: 16px;
}
.team-member-job {
  font-weight: 400;
  font-size: 16px;
  color: var(--text-color);
}

.footer-address:hover {
  color: var(--hover-color);
}
.button-list{
  list-style-type: none;
}
.filter-button{
  font-weight: 500;
  font-size: 16px;
}
.global-footer {
  background-color: var(--section-color);
}
